@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&family=Montserrat&display=swap');
@font-face {
    font-family: 'Century Gothic';
    src: url('/fonts/CenturyGothic.eot');
    src: url('/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/CenturyGothic.woff2') format('woff2'),
        url('/fonts/CenturyGothic.woff') format('woff');
}

@font-face {
    font-family: 'Capture it';
    src: url('/fonts/Capture_it-webfont.eot');
    src: url('/fonts/Capture_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Capture_it-webfont.woff') format('woff'),
         url('/fonts/Capture_it-webfont.svg#capture_itregular') format('svg');
    font-weight: normal;
    font-style: normal;

}