html, body {
  position: relative;
  display: block;
  width: 100%;
}

body {
  background-color: $color-black;
  font-family: $font-cg;
  font-weight: 400;
  color: $color-white;
}

.container {
  max-width: 1310px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.font-lato {
  font-family: $font-lato;
}

.font-capture-it {
  font-family: $font-capture-it;
}

.font-abril-fatface {
  font-family: $font-abril;
}

.font-monsterrat {
  font-family: $font-monserrat;
}

ul li.active {
  a {
    background-color: rgb(185,28,28);
    font-weight: 700;
    color: #FFFFFF;
  }
}

.facebook {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
}

.title-page {
  background-image: url('/images/banner-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.gallery, .reviews {
  background: url('/images/bar.jpg');
  background-color: grey;
  background-blend-mode: multiply;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}