$font-lato: 'Lato', sans-serif;
$font-cg: 'Century Gothic';
$font-capture-it: 'Capture it';
$font-abril: 'Abril Fatface', cursive;
$font-monserrat: 'Montserrat', sans-serif;

$color-black: #000000;
$color-white: #FFFFFF;